*.zip
/html/node_modules/*
/site/wp-admin/*
/site/wp-includes/*
/site/.htaccess
/site/index.php
/site/license.txt
/site/readme.html
/site/wp-activate.php
/site/wp-blog-header.php
/site/wp-comments-post.php
/site/wp-config.php
/site/wp-config-sample.php
/site/wp-cron.php
/site/wp-links-opml.php
/site/wp-load.php
/site/wp-login.php
/site/wp-mail.php
/site/wp-settings.php
/site/wp-signup.php
/site/wp-trackback.php
/site/xmlrpc.php

/site/wp-content/themes/*
!/site/wp-content/themes/gtfilmes/

/site/wp-content/ai1wm-backups/*
/site/wp-content/languages/*
/site/wp-content/upgrade/*
/site/wp-content/uploads/*
/site/wp-content/plugins/*
/site/wp-content/index.php
/site/wp-content/themes/index.php
/site/wp-content/themes/gtfilmes/node_modules/*